*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

.breathing{
    display:flex;
    height:100vh;
    background:#F6FCF8;
    padding:12px;
    gap:15px;
    overflow:hidden;
}

.main-content{
    flex:1;
    background:#F8FCF9;
    border-radius:22px;
    padding:18px 25px;
    overflow-y:auto;
}

.breathing-page{
    margin-top:10px;
}

.breathing-header h1{
    font-size:40px;
    color:#24364D;
}

.breathing-header p{
    margin-top:8px;
    color:#666;
    font-size:18px;
}

.exercise-grid{
    display:grid;
    grid-template-columns:repeat(2,1fr);
    gap:25px;
    margin-top:35px;
}

.exercise-card{
    background:white;
    border-radius:22px;
    padding:30px;
    box-shadow:0 5px 20px rgba(0,0,0,.05);
    text-align:center;
}

.exercise-card h2{
    color:#24364D;
    margin-bottom:25px;
}

.circle{
    width:180px;
    height:180px;
    border-radius:50%;
    background:#67C587;
    margin:auto;
    display:flex;
    justify-content:center;
    align-items:center;
    color:white;
    font-size:28px;
    font-weight:600;
}

.green{
    background:#5ABF9A;
}

.exercise-card p{
    margin-top:25px;
    color:#666;
    line-height:2;
}

.exercise-card button{
    margin-top:25px;
    padding:14px 35px;
    border:none;
    border-radius:30px;
    background:#67C587;
    color:white;
    font-size:16px;
    cursor:pointer;
}

.exercise-card button:hover{
    background:#58B77B;
}

.tips-card{
    margin-top:35px;
    background:white;
    border-radius:22px;
    padding:30px;
    box-shadow:0 5px 20px rgba(0,0,0,.05);
}

.tips-card h2{
    color:#24364D;
    margin-bottom:20px;
}

.tips-card ul{
    list-style:none;
}

.tips-card li{
    padding:12px 0;
    font-size:17px;
    color:#555;
    border-bottom:1px solid #EEF4F0;
}